.button__more {
    display: none;
}

.button__about-us {
    text-decoration: none;
    color: #bd5d38;
    margin-right: 20px;
}

.button__contacts {
    text-decoration: none;
    color: #bd5d38;
}