.footer {
    vertical-align: middle;
    background-color: #06090F;
    color: #BD5D38;
}

.footer__feedback-info {
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

.footer__social {
    margin: 0;
    padding: 20px;
    list-style: none;
}

.footer__copyright {
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}