.header {
  height: 56px;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #BD5D38;
}

.header__title {
  margin: auto 0 auto 0;
  font-family: 'Yanone Kaffeesatz';
  color: #f3f3f3;
}
