.navigation {
    width: 100%;
    background-color: #BD5D38;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation__toggle {
    position: absolute;
    top: 18px;
    right: 20px;
}

.navigation__authorization {
    margin: 0;
    padding: 0;
}

@media (min-width: $desktop-width) {
    .navigation {
        border-top: none;
    }
}