.page-header {
  position: relative;
  min-height: 40px;
}

.page-header::before {
  box-sizing: border-box;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  right: 0;
  left: 0;
  top: 55px;
  border-bottom: 1px solid #fff;
}
