.toggle-button {
  width: 30px;
  height: 16px;
  padding: 0;
  margin: 20px;
  border: none;
  background-color: transparent;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.toggle-button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 30px;
  height: 2px;
  background-color: #fff;
}
